<!-- views/partials/head.ejs-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ArtJungle Application</title>
    <base href="/">
    <!-- Stylesheets -->
    <link href="css/body_style.css" rel="stylesheet" type="text/css">
    <link href="css/header_style.css" rel="stylesheet" type="text/css">

</head>