<!-- views/partials/nav.ejs -->
<div class="header">
    <a href="/" class="logo">
        <img src="logo.png" style="width:280px; height:40px">
    </a>
    <div class="header-right">
        <a href="/artworks">View Artworks</a>
        <a href="/create_account">Create Account</a>
        <a href="/create_artwork">Set In Artwork</a>
    </div>
</div>
<hr>