<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>


<body>
    <% include ../partials/nav %>

    <form action="/accounts" method="POST">
        <label>Name: </label>
        <input type="text" name="name" value="" /><br />
        <label>Phone: </label>
        <input type="text" name="phone" value="" /><br />
        <label>Email: </label>
        <input type="text" name="email" value="" /><br />
        <input type="submit" value="submit">
    </form>

</body>

</html>