/**
 * Fix user-agent
 */

 * {
    box-sizing: border-box;
  }
  
  /**
   * Canvas
   */
  
  .whiteboard {
    height: 60%;
    width: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border:1px solid #000000;
    position: relative;
  }
  
  .colors {
    position: relative;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
  }
  
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }
  .color.white { 
      background-color: white;
      border: 1px solid;
     }